:root {
  --primary_color: #100f0e;
  --secondary_color: #fbc02d;
  --primary_text: #efeff1;
  --secondary_text: #fbc02d;
  --sub_secondary_color: #cc9f2d;
  --sub_primary_color: #3a3a3d;
  --hover_sub_primary: #4e4e50;
  --sub_primary_text: #adadb8;
}

button:focus {
  box-shadow: none !important;
}

button {
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: var(--secondary_text) !important;
}

.hoverSecondaryColor:hover {
  color: var(--secondary_text) !important;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: var(--primary_text);
}

a {
  color: var(--primary_text) !important;
}

.long-and-truncated {
  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Important for long words! */
}

.cut-on-third {
  -webkit-line-clamp: 3 !important;
}

.buttonOutlined {
  background-color: #1a1a1a !important;
  border: 1px solid var(--secondary_color) !important;
  color: var(--secondary_text) !important;
  transition: background-color 0.3s ease-out !important;
}

.buttonOutlined:hover {
  background-color: var(--secondary_color) !important;
  color: var(--primary_color) !important;
}

.buttonFilledSecondary {
  background-color: var(--secondary_color) !important;
  color: var(--primary_color) !important;
  transition: background-color 0.3s ease-out !important;
}

.buttonFilledSecondary:hover {
  background-color: var(--sub_secondary_color) !important;
}

.buttonFilledPrimary {
  background-color: var(--sub_primary_color) !important;
  color: var(--primary_text) !important;
  transition: background-color 0.3s ease-out !important;
}

.buttonFilledPrimary:hover {
  background-color: var(--hover_sub_primary) !important;
}

article {
  padding: 100px 0 40px 0px;
}

.search-btn {
  background: var(--sub_primary_color) !important;
  border: none !important;
  color: white !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

input,
select,
textarea {
  border: none !important;
  background-color: var(--hover_sub_primary) !important;
  color: var(--primary_text) !important;
}

option {
  background-color: var(--hover_sub_primary) !important;
}

option:hover {
  background-color: black !important;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--secondary_color) !important;
  box-shadow: none !important;
  background-color: var(--primary_color) !important;
}

.search-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.spinner {
  border: 8px solid var(--secondary_color) !important;
  border-right-color: transparent !important;
}

.basic-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.basic-grid-three {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.basic-grid-two {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 420px);
}

.basic-grid-four {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
}

.tabs-color {
  color: var(--secondary_color) !important;
}

.nav-tabs .nav-link.active {
  background-color: var(--hover_sub_primary) !important;
  border: none !important;
  border-bottom: 4px solid var(--secondary_color) !important;
}

.card-header {
  border: none !important;
  border-radius: 0 !important;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
}

.input-group-text {
  background-color: inherit !important;
  border: 1px solid var(--sub_primary_color) !important;
}

#nav-dropdown-dark-example {
  padding: 0 !important;
}
